@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


.about {
  background-color: rgba(32, 32, 32, 0.6);
  height:fit-content;
  max-width: 700px;
  padding: 20px 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  border: solid white 1px;
  border-radius: 20px;
}

.about h2 {
  font-size: 3em;
  margin: 1rem;
}

.descriptionContainer {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  width: 90%;
  font-weight:900;
}