@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

* {
  margin: 0;
  padding: 0;
}

html, body {
  min-height: 100%;
  scroll-behavior: smooth;
  font-family:'Raleway', sans-serif;
  color:antiquewhite
}
body {
  background: linear-gradient(rgb(0, 0, 0), rgb(5, 57, 56) );
  /* background: linear-gradient(at top left, rgb(3, 151, 62), rgb(0, 0, 0),rgb(0, 164, 172)); */
  background-repeat:no-repeat;
  background-attachment: fixed;
  
  
}
.layout {
  max-width:90%;
  margin: 0 auto;
}
:-webkit-any-link {
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}