.profile {
  display: flex;
  height: 70vh;
  padding-bottom: 20vh;
  margin: 0 10rem;
  min-height: fit-content;
  align-items: center;
}

.profileText {
  display: block;
}

.profileText h2 {
  font-size: 5em;
  text-align:center;
  padding-bottom: 0.5em;
}
.profileText h3 {
  font-size: 1.5em;
  text-align: center;
  
}
.profilePicContainer {
  display: flex;
  height: 500px;
  width: 500px;
  margin: 0 auto;
}


