#about {
  width: 50%;
  display: inline-flex;
  justify-content: center; 
  align-items: center;
  min-height: 100vh;
  /* padding-top: 15em; */
}

#skills {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* padding-top: 60px; */
  width: 50%;
  display: inline-flex;
}
