.portfolio {
  text-align: center;
  min-height: 90vh;
  /* padding-top: 75px; */
}
.portfolio > h2 {
  font-size: 3em;
  margin-top: 80px;
}
.portfolio > h3 {
  font-size: 2em;
  font-weight: 400;
}
.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  margin: 80px 20px;
}
.projects h3 {
  text-align: center;
  margin: 20px auto 20px;
  font-size: 150%;
}
.projects p {
  margin-bottom: 3px;
}
.projects button {
  background-color: rgba(146, 146, 146, 0.324);
  color: white;
  border-radius:28px;
  border-style:outset;
  border-width: 2px;
  display: inline-block;
  font-size: 1em;
  margin: 5px;
  padding: 8px 55px;
  cursor: pointer;
  transition-duration: 0.2s;
  box-shadow: 1px 1px 5px gray;
}
.projects button:hover {
  background-color: transparent;
  font-size: 1.1em;
  
}
